<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.digre.organizer.navigator.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.eclipse.ui.navigator.resourceContent"
            contentProvider="org.digre.organizer.navigator.GContentProvider"
            icon="icons/genova_16.png"
            id="org.digre.photos.content"
            labelProvider="org.digre.organizer.navigator.GLabelProvider"
            name="Photo Contents"
            priority="highest">
         <possibleChildren>
            <or>
               <instanceof
                     value="org.digre.organizer.navigator.IObject">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="org.eclipse.ui.IWorkingSet">
               </instanceof>
            </or>
         </possibleChildren>
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="org.eclipse.ui.IWorkingSet">
               </instanceof>
               <instanceof
                     value="org.digre.organizer.navigator.IObject">
               </instanceof>
            </or>
         </triggerPoints>
         <enablement>
            <or>
               <instanceof
                     value="org.digre.organizer.navigator.IObject">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="org.eclipse.ui.IWorkingSet">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
            </or>
         </enablement>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.digre.photos.content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

</plugin>
