






@rem ------------------------------------------------------
@rem  Copyright (c) M4_CopyrightYear, M4_CopyrightComp. All rights reserved.
@rem  Version: M4_Version. M4_BuildDate.
@rem ------------------------------------------------------


@createSection ActionOpen@@TargetName@@ ActionMethodImpl
@createSection HookActionOpen@@TargetName@@ HookMethodsSuper

@section MethodDeclaration rt
            actionOpen@@TargetName@@(); 

@section ActionOpen@@TargetName@@
@if @(emptySection)@
    @//
    @//
    /**
     * Opens the @@TargetName@@ dialog. 
     * If the @@TargetName@@ dialog is hidden, it is shown, otherwise
     * it is created and then shown.
     */
    protected void actionOpen@@TargetName@@() { 
        String msgID = null;
        Exception ex = null;
    @// 
        try {   
            SwingUtilities.invokeAndWait(new Runnable() {
                public void run() {
                    try {
@//           
                        // Opens a dialog - action open.
                        // Special handeling of hidden dialog box
                        boolean doShow = application.getDialog("@@TargetName@@") != null;
        
                        GenovaDialogController gController = 
                            application.getOldDialogOrCreateNew("@@TargetName@@");

                        if (!(gController.getWindow() instanceof JDialog)) {
                            if (doShow) {
                                gController.getView().setVisible(true);
                            }
                            getApplication().getGenovaDesktopPane()
                                    .frameShown(gController.getView());
                        } else if (doShow) {
                            gController.toFront();
                        }
                    } catch (RuntimeException e) {
                        if (hookActionOpen@@TargetName@@Exception(e)) {
                            throw e;
                        }
                    }
                }
            });
        } catch (InterruptedException e) {
            msgID = CRuntimeMsg.CT_INTERRUPTED;
            ex = e;
        } catch (InvocationTargetException e) {
            Throwable t = e.getCause();
            if (t instanceof RuntimeException) {
                throw (RuntimeException)t;
            } else {
                msgID = CRuntimeMsg.CT_INVOCATION_TARGET;
                if (t instanceof Exception) {
                    ex = (Exception)t;
                } else {
                    ex = e;
                }
            }
        } finally {
            if (msgID != null) {
               Object[] msgArgs = {this.getClass(), "actionOpen@@TargetName@@", ex};
               Message msg = MessageFactory.getInstance().getMessage(msgID, msgArgs);
               MessageLogDispatcher.getInstance().log(msg, null);
               throw new GenovaClientFrameworkException(ex, msg);
            }
        }            
    }
    @//
@endif
        
@section HookActionOpen@@TargetName@@
@if @(emptySection)@
@//
@//    
    /**
     * Hook method, called if the action resulted in a RuntimeException. 
     * Override in subclass.
     * @param e the catched exception 
     * @return <code>false</code> the hook has handeled the exception, and no further action is needed.
     */
    public boolean hookActionOpen@@TargetName@@Exception(RuntimeException e) {
        return true;
    }
@endif
