






@rem ------------------------------------------------------
@rem  Copyright (c) M4_CopyrightYear, M4_CopyrightComp. All rights reserved.
@rem  Version: M4_Version. M4_BuildDate.
@rem ------------------------------------------------------


@section SetupInit
        /**
         * Adds enumeration value to a ComboBox
         */ 
        @@NodeName@@_@@Name@@.addItem("@@EnumDescription@@", @@EnumerationName@@.class, applicationEnums);
        @@NodeName@@_@@Name@@.resetState();


