






@rem ------------------------------------------------------
@rem  Copyright (c) M4_CopyrightYear, M4_CopyrightComp. All rights reserved.
@rem  Version: M4_Version. M4_BuildDate.
@rem ------------------------------------------------------


@section Declaration
    @//
@if @(isParentMenu)@
    /** The @@Name@@ menu separator */
    protected JSeparator @@Name@@ = new JSeparator();
    /** The @@Name@@ popup menu separator */
    protected JSeparator @@Name@@_popup = new JSeparator();
@endif
@if @(isParentToolBar)@
    /** The @@Name@@ tool bar separator */
    protected Separator @@Name@@ = new Separator();
@endif


@section SetupInit@@ParentName@@Start
        init@@Name@@();

@section SetupInit
    @//
    /** Initializes the @@Name@@ separator */
    private void init@@Name@@() {
@if @(isParentMenu)@
        @@ParentName@@.addGenovaItem(@@Name@@);
        @@ParentName@@_popup.add(@@Name@@_popup);
        
@if @(!isVisible)@
        @@Name@@.setVisible(false); 
@endif
@if@(!isEnabled)@
        @@Name@@.setEnabled(false); 
        disabledComponents.add(@@Name@@);
@endif
        @(hasTooltip?@@Name@@.setToolTipText("@@Tooltip@@");:)@


@endif

@if @(isParentToolBar)@
        @@ParentName@@.add(@@Name@@);
@endif
    }
@section setUpNameComponentMapping
        nameToComponent.put("@@Name@@", @@Name@@);
        componentToName.put(@@Name@@, "@@Name@@");



