






@rem ------------------------------------------------------
@rem  Copyright (c) M4_CopyrightYear, M4_CopyrightComp. All rights reserved.
@rem  Version: M4_Version. M4_BuildDate.
@rem ------------------------------------------------------


@section IsPartOfKey@@ParentName@@
@if @(isPartOfMainKey)@ 
        if ("@@Name@@".equals(attributeName)) {
            return true;
        }
@//
@endif


@section ClearKeepKeys@@ParentName@@ rt
@if @(!isPartOfMainKey)@
        clear("@@Name@@");
@endif

@section createCopy@@ParentName@@ 
@if @(hasParameter UseAccessorMethods)@
        retVal.@@SetAttributeName@@(fromObject.@@GetAttributeName@@());
@endif

@if @(!hasParameter UseAccessorMethods)@
        retVal.@@Name@@ = fromObject.@@Name@@;
@endif
