






@rem ------------------------------------------------------
@rem  Copyright (c) M4_CopyrightYear, M4_CopyrightComp. All rights reserved.
@rem  Version: M4_Version. M4_BuildDate.
@rem ------------------------------------------------------


@section Declaration
   Vector @@Name@@ = new Vector();

//     protected DefaultMutableTreeNode @@Name@@ = 
//               new DefaultMutableTreeNode("@@Name@@");
//     protected DefaultMutableTreeNode @@Name@@_Ex1 = 
//               new DefaultMutableTreeNode("@@Name@@_Ex1");
//     protected DefaultMutableTreeNode @@Name@@_Ex2 = 
//               new DefaultMutableTreeNode("@@Name@@_Ex2");
//     protected DefaultMutableTreeNode @@Name@@_Ex3 = 
//               new DefaultMutableTreeNode("@@Name@@_Ex3");

@section controllerdecl
   HashMap tabListFromNodeName@@Name@@ = tabListFromNodeName@@ParentName@@;
   HashMap tabListFromComponent@@Name@@ = tabListFromComponent@@ParentName@@;

@section Setup
//       @@ParentName@@.add(@@Name@@);
//       @@Name@@.add(@@Name@@_Ex1);
//       @@Name@@.add(@@Name@@_Ex2);
//       @@Name@@.add(@@Name@@_Ex3);
