<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            class="appmodel.AppmodelPackage"
            genModel="model/appmodel.genmodel"
            uri="http://www.esito.no/no/esito/genova/appmodel.ecore">
      </package>
   </extension>

</plugin>
